main {
    margin-left: 250px;
    padding: 0px;
    background-image: url(~/Imagen/hospital.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

div#vacio {
    width: 100%;
    height: 800px;
}


div#contenedor {
    width: 100%;
    height: 1000px;
    background-color: white;
}
