
@{
    ViewBag.Title = "Index";
}
<link href="~/Estilos/SideBar.css" rel="stylesheet" />

<main>

    <div id="vacio">
        <h1>Casos y fechas del corona virus</h1>
    </div>
    <div id="contenedor">

        
    </div>

</main>

